<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
			<div class="subject">
				<h3>管理员 - 编辑战队</h3>
				<h5>网站系统战队管理</h5>
			</div>
		</div>
	</div>
	<form class="form-horizontal" action="{:U('Admin/Admin/corpsSave')}" id="corpsform" method="post">
		<div class="ncap-form-default">
			<dl class="row">
				<dt class="tit">
					<label for="corps_name"><em>*</em>战队名称</label>
				</dt>
				<dd class="opt">
					<input type="text" name="data[corps_name]" id="corps_name" value="{$detail.corps_name}" class="input-txt">
					<span class="err" id="name_err" style="display: none">导航名称不能为空!!</span>
					<p class="notic"></p>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="corps_name"><em>*</em>所属类别</label>
				</dt>
				<dd class="opt">
					<select name="data[type]" id="type">
						<option value="">请选择类别</option>
                       <option value="1" <if condition="$detail[type] eq 1"> selected="selected"</if> >短视频系列</option>
                        <option value="2" <if condition="$detail[type] eq 2"> selected="selected"</if> >自媒体系列</option>
                        <option value="3" <if condition="$detail[type] eq 3"> selected="selected"</if> >微博系列</option>
                        <option value="4" <if condition="$detail[type] eq 4"> selected="selected"</if> >微信系列</option>
                    </select>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="zhuguan_name"><em>*</em>主管名称</label>
				</dt>
				<dd class="opt">
					<select name="data[zhuguan_name]" id="zhuguan_name">
                        <volist name="list" id="list">
                      <option value="{$list.user_name}" <if condition="$list[user_name] eq $detail[zhuguan_name]"> selected="selected"</if> >{$list.user_name}</option>
                        </volist>
                    </select>
					<!-- <input type="text" name="data[zhuguan_name]" id="zhuguan_name" value="{$detail.zhuguan_name}" class="input-txt"> -->
					<p class="notic"></p>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="corps_desc">战队描述</label>
				</dt>
				<dd class="opt">
					<textarea id="corps_desc" name="data[corps_desc]" class="tarea" rows="6">{$detail.corps_desc}</textarea>
					<span class="err" id="err_tpl_content" style="display:none;">短信内容不能为空</span>
					<p class="notic"></p>
				</dd>
			</dl>


			<div class="bot"><a href="JavaScript:void(0);" onclick="corpsSubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
		</div>
		<input type="hidden" name="corps_id" value="{$detail.corps_id}">
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(":checkbox[cka]").click(function(){
			var $cks = $(":checkbox[ck='"+$(this).attr("cka")+"']");
			if($(this).is(':checked')){
				$cks.each(function(){$(this).prop("checked",true);});
			}else{
				$cks.each(function(){$(this).removeAttr('checked');});
			}
		});
	});

	function choosebox(o){
		var vt = $(o).is(':checked');
		if(vt){
			$('input[type=checkbox]').prop('checked',vt);
		}else{
			$('input[type=checkbox]').removeAttr('checked');
		}
	}

	function corpsSubmit(){
		if($('#corps_name').val() == '' ){
			layer.alert('战队名称不能为空', {icon: 2});
			return false;
		}
		$('#corpsform').submit();
	}
</script>
</body>
</html>