<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>会员充值记录</h3>
                <h5>平台系统会员充值记录</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>会员充值记录历史</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>会员充值记录列表</h3>
                <h5>(共{$pager->totalRows}条记录)<if condition="$roleid eq 1 or $roleid eq 2"><span style="color: red">(成功充值金额{$account}元)</span></if></h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <form class="navbar-form form-inline" id="search-form" action="" method="post" onsubmit="return check_form();">
                <input type="hidden" name="timegap" id="timegap" value="{$timegap}">
                <div class="sDiv">
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" id="start_time" value="{$begin}" placeholder="起始时间" class="qsbox">
                        <input type="button" class="btn" value="起始时间">
                    </div>
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" id="end_time" value="{$end}" placeholder="截止时间" class="qsbox">
                        <input type="button" class="btn" value="截止时间">
                    </div>
                   
                    <div class="sDiv2">
                        <select class="select" name="pay_status">
                            <option value="4" <if condition="$pay_status eq 3"> selected</if>>支付状态</option>
                            <option value="3" <if condition="$pay_status eq 3"> selected</if>>待审核</option>
                            <option value="1" <if condition="$pay_status eq 1"> selected</if>>支付成功</option>
                            <option value="2" <if condition="$pay_status eq 2"> selected</if>>支付失败</option>
                        </select>
                        <input type="text" size="30" name="nickname" value="{$nickname}" placeholder="模糊查询" class="qsbox">
                        <input type="submit" class="btn" value="搜索">
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 50px;" class="">会员ID</div>
                        </th>
                        <th align="center" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: center; width: 150px;" class="">会员账号</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 200px;" class="">充值单号</div>
                        </th>
                     <!--    <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 50px;" class="">VIP充值</div>
                        </th> -->
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">充值资金</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 150px;" class="">提交时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 150px;" class="">支付方式</div>
                        </th>
                         <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">订单后六位</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">支付状态</div>
                        </th>
                         <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">审核人员</div>
                        </th>
                         <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">是否作废</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div>操作</div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <volist name="lists" id="list">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 50px;">
                                    <if condition="in_array(15,$act_list)">
                                        ****
                                    <else>
                                            {$list.user_id}
                                    </if>
                            </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">
                                 <if condition="in_array(15,$act_list)">
                                    {$list.nickname|getSubstr=0,1}.{$list.nickname|getSubstr=3,1}
                                <else>
                                        {$list.nickname}
                                </if>
                               
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 200px;">
                                    {$list.order_sn}
                                </div>
                            </td>
                           <!--  <td align="center" class="">
                                <div style="text-align: center; width: 50px;">
                                    {$list.buy_vip==1?"是":"否"}
                                </div>
                            </td> -->

                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$list.account}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$list.ctime|date="Y-m-d H:i",###}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$list.pay_name}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$list.ddlastnum}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;"><if condition="$list[pay_status] eq 0"><span style="color: red">待支付审核<span><elseif condition="$list[pay_status] eq 1"><span style="color: blue">支付成功<span><else/>支付失败</if></div>
                            </td>
                             <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$list.shenhe_name}</div>
                            </td>
                             <td align="center" class="">
                                <div style="text-align: center; width: 80px;">
                             <if condition="$admin_id eq 1 or $admin_id eq 24">
                                <if condition='$list[is_delete] eq 1'>
                                  <span class="yes" onClick="changeTableVal('recharge','order_id','{$list.order_id}','is_delete',this)"><i class="fa fa-check-circle"></i>是</span>
                                  <else />
                                  <span class="no" onClick="changeTableVal('recharge','order_id','{$list.order_id}','is_delete',this)"><i class="fa fa-ban"></i>否</span>
                                </if>
                                <else>
                                <if condition='$list[is_delete] eq 1'>
                                  <span class="yes"><i class="fa fa-check-circle"></i>是</span>
                                  <else />
                                  <span class="no"><i class="fa fa-ban"></i>否</span>
                                </if>
                              </if>
                          </div>
                              </td>
                            <td align="" class="" style="width: 100%;">
                                <div>
                              
                                    <a class="btn blue" href="{:U('Admin/user/rechargedetail',array('id'=>$list['order_id']))}"><i class="fa fa-pencil-square-o"></i>详情</a>

                 <if condition="$admin_id eq 1 or $admin_id eq 24">
                    <if condition='$list[is_chakan] eq 1'>
                      <span class="yes" onClick="changeTableVal('recharge','order_id','{$list.order_id}','is_chakan',this)"><i class="fa fa-check-circle"></i>是</span>
                      <else />
                      <span class="no" onClick="changeTableVal('recharge','order_id','{$list.order_id}','is_chakan',this)"><i class="fa fa-ban"></i>否</span>
                    </if>
                  </if>
                               </div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$page} </div>
</div>
<script>


    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
        // $('#start_time').layDate();
        // $('#end_time').layDate();
        laydate.render({
            theme: "molv",
            type: "datetime",
            elem: "#start_time"
        })
        laydate.render({
            theme: "molv",
            type: "datetime",
            elem: "#end_time"
        })        
    });

    function delfun(obj) {
        // 删除按钮
        layer.confirm('确认删除？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data : {act:'del',level_id:$(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    layer.closeAll();
                    if (data) {
                        $(obj).parent().parent().parent().remove();
                    } else {
                        layer.alert('删除失败', {icon: 2});  //alert('删除失败');
                    }
                }
            })
        }, function () {
            layer.closeAll();
        });
    }
    function check_form(){
        var start_time = $.trim($('#start_time').val());
        var end_time =  $.trim($('#end_time').val());
        if(start_time == '' ^ end_time == ''){
            layer.alert('请选择完整的时间间隔', {icon: 2});
            return false;
        }
        if(start_time !== '' && end_time !== ''){
            $('#timegap').val(start_time+","+end_time);
        }
        if(start_time == '' && end_time == ''){
            $('#timegap').val('');
        }
        return true;
    }
</script>
</body>
</html>